
      <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p>© 2024 uan de Dios Valero Casillas. Todos los derechos reservados.</p>
    </div>
  </footer>
  <script src="/public/js/main.js"></script>
</body>
</html>