<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
</head>

<body>
      <!-- Header -->
  <header class="header">
    <div class="container">
      <nav class="nav">
        <div class="logo">Juan de Dios Valero Casillas</div>
        <div class="menu-toggle" id="menu-toggle">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ul class="nav-links" id="nav-links">
          <li><a href="index">Inicio</a></li>
          <li><a href="/habilidades">Habilidades</a></li>
          <li><a href="/proyectos">Proyectos</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
